.contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-right: 50px;
}

@media screen and (max-width: 723px) {
  .contacts {
    flex-direction: column;
    justify-content: center;
  }
}