.form {
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 82px 133px 82px 133px;
  box-sizing: border-box;
}

@media screen and (max-width: 1339px) {
  .form {
    justify-content: stretch;
    padding: 60px 80px 60px 80px;
  }
}