.button_type_more {
  background-color: white;
  padding: 0;
  box-shadow: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color:#EC4646;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
  text-decoration: underline;
  margin: 0;
  outline: none;
  border: none;
}

.button_type_more:active, .button_type_moren:focus {
  outline: none;
  border: none;
}

/*
@media screen and (max-width: 900px) {
  .button_type_add {
    width: 100%;
    margin-bottom: 36px;
  }
}