.button__icon_opened {
  width: 18px;
  height: 18px;
  margin-left: 4px;
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out;
}
/*
@media screen and (max-width: 767px) {
  .button__add-icon {
    width: 16px;
    height: 16px;
  }
}