.reviews__image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin-right: 40px;
}

/*
@media screen and (max-width: 1023px) {
  .main {
    width: calc(100% - 2*19px);
  }
}

@media screen and (max-width: 900px) {
  .main {
    padding-top: 42px;
  }
}

