.reviews__date {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 19px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #ABABAB; 
  margin: 0 0 21px 0;
}


/*
@media screen and (max-width: 1023px) {
  .main {
    width: calc(100% - 2*19px);
  }
}

@media screen and (max-width: 900px) {
  .main {
    padding-top: 42px;
  }
}

