.info__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding-bottom: 60px;
  border-bottom: 1px solid #E1E1E1;
}

.info__content:last-of-type {
  padding-bottom: 0;
  padding-top: 60px;
  border-bottom: none;
}


/*
@media screen and (max-width: 1023px) {
  .main {
    width: calc(100% - 2*19px);
  }
}

@media screen and (max-width: 900px) {
  .main {
    padding-top: 42px;
  }
}

