.instructors {
  width: 100%;
  margin: 0 auto 0 auto;
  padding-top: 57px;
  padding-bottom: 108px;
  padding-right: 15%;
  padding-left: 15%;
  background-color:  #F7F9F8;
  box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
  .instructors {
    padding-right: 8%;
    padding-left: 8%;
  }
}

@media screen and (max-width: 900px) {
  .instructors {
    padding-right: 6%;
    padding-left: 6%;
  }
}
/*
@media screen and (max-width: 1023px) {
  .main {
    width: calc(100% - 2*19px);
  }
}

@media screen and (max-width: 900px) {
  .main {
    padding-top: 42px;
  }
}

