.instructor__image {
  max-width: 396px;
  max-height: 428px;
  object-fit: contain;
  object-position: center;
  margin-right: 84px;
}
/*
@media screen and (max-width: 1023px) {
  .main {
    width: calc(100% - 2*19px);
  }
}

@media screen and (max-width: 900px) {
  .main {
    padding-top: 42px;
  }
}

