.reviews__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: stretch;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 0 20px 0;
  list-style: none;
  margin: 0;
}

@media screen and (max-width: 1279px) {
  .reviews__list {
    grid-template-columns: 1fr;
    justify-content: stretch;
  }
}
