.instructor__info {
  width: 100%;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  border-bottom: 1px dashed #E1E1E1;
  padding-bottom: 50px;
}

@media screen and (max-width: 1279px) {
  .instructor__info {
    flex-direction: column;
  }
}
