.form__input {
  width: 100%;
  height: 62px;
  box-sizing: border-box;
  border: 1px solid #CED2D3;
  padding: 22px 22px 22px 60px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #9A9A9A;
  background-color: #F6F7F9;
}