.instructor__gallery-item {
  max-width: 45%;
  object-fit: cover;
  object-position: center;
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: stretch;
}

.instructor__gallery-item:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 1023px) {
  .instructor__gallery-item {
    display: none;
  }

  .instructor__gallery-item:first-of-type {
    max-width: 100%;
    object-fit: contain;
    object-position: center;
    margin-right: 0;
    display: flex;
    align-items: stretch;
    justify-self: stretch;
  }
}

