.reviews__heading {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #212121;
  margin: 15px 0 15px 0;
}

/*
@media screen and (max-width: 1023px) {
  .main {
    width: calc(100% - 2*19px);
  }
}

@media screen and (max-width: 900px) {
  .main {
    padding-top: 42px;
  }
}

