.contacts__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-right: 37px;
}

.contacts__item:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 723px) {
  .contacts__item {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .contacts__item:last-of-type {
    margin-bottom: 0;
  }
}

/*
@media screen and (max-width: 1023px) {
  .main {
    width: calc(100% - 2*19px);
  }
}

@media screen and (max-width: 900px) {
  .main {
    padding-top: 42px;
  }
}

