.instructor__statistic {
  width: 100%;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  box-sizing: border-box;
  padding-top: 50px;
}
/*
@media screen and (max-width: 1023px) {
  .main {
    width: calc(100% - 2*19px);
  }
}

@media screen and (max-width: 900px) {
  .main {
    padding-top: 42px;
  }
}

